.x-mark {
    background: url('icons/xmark-solid.svg') center no-repeat;
    bottom: 0;
    width: 36px;
    height: 36px;
}

body {
    max-width: 40rem;
    margin: auto;
}

.edit {
    background: url('icons/pen-to-square-solid.svg') center no-repeat;
    bottom: 0;
    width: 36px;
    height: 36px;
}

.remove-btn {
    display: flex;
    margin: 0;
    margin-left: auto;


}

p {
    padding: 0;
    margin: 0;
}



.todoitem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    height: 2rem;
    gap: 0.5rem
}